--index-url https://download.pytorch.org/whl/cu121; sys_platform == 'windows' # CUDA 12.1
flask
torch
transformers
ebooklib
bs4
pylint
keras-cv
matplotlib
Pillow
Flask-Cors
diffusers
flask[async]
accelerate # Optional, but recommended by diffusers
# flash-attn # Optional, takes forever to compile, but can improve performance