--extra-index-url https://download.pytorch.org/whl/cu121; sys_platform == 'windows' # CUDA 12.1
flask
python-dotenv # To read .env file
torch
transformers
ebooklib
bs4
pylint
keras-cv
matplotlib
Pillow
Flask-Cors
huggingface_hub # To use HuggingFace InferenceClient
diffusers
flask[async]
accelerate # Optional, but recommended by diffusers
# flash-attn # Optional, takes forever to compile, but can improve performance
semantic-text-splitter
tqdm # console progress bar
